
<h1>{{player.name}}</h1>
<div class="grid">
  <canvas #board class="game-board"></canvas>
  <div class="right-column">
    <div>
      <h1>TETRIS</h1>
      <p>Score: {{ player.points }}</p>
      <p>Lines: {{ player.lines }}</p>
      <p>Level: {{ player.level }}</p>
    </div>
    <button (click)="play()" class="play-button">Play</button>
    <button (click)="player1()" class="play-button">Spell 1</button>
    <button (click)="player2()" class="play-button">Spell 2</button>
    <button (click)="player3()"class="play-button">Spell 3</button>
    <button class="play-button" style="color: red;">Defender 1</button>
    <button  class="play-button" style="color: red;">Defender 2</button>
  </div>
</div>
