
<h1>{{player.name}}</h1>
<gui-movement [piece]="piece" (emitPiece)="move($event)"></gui-movement>
<div class="grid">
  <canvas #board class="game-board"></canvas>
  <div class="right-column">
    <div>
      <h1>TETRIS</h1>
      <p>Score: {{ player.points }}</p>
      <p>Lines: {{ player.lines }}</p>
      <p>Level: {{ player.level }}</p>
      <p>Task:</p>
      <ul>
        <li class="{{completed1}} {{hidePositionTask}}"><p >{{positionTaskToScreen1.getTaskName()}} <img src="{{positionTaskToScreen1.imgURL}}" /> Kartai: {{positionTaskToScreen1.getCount()}}  </p></li>
        <li class="{{completed2}} {{hidePositionTask}}"><p >{{positionTaskToScreen2.getTaskName()}} <img src="{{positionTaskToScreen2.imgURL}}" /> Kartai: {{positionTaskToScreen2.getCount()}}  </p></li>
        <li class="{{completed1}} {{hideTimeTask}}"><p >{{timeTask1.getTaskName()}}  Laikas: {{timeTask1Time}}  </p></li>
        <li class="{{completed2}} {{hideTimeTask}}"><p >{{timeTask2.getTaskName()}}  Laikas: {{timeTask2Time}}  </p></li>
        <li class="{{completed1}} {{hideControlTask}}"><p >{{controlTask1.getTaskName()}} {{controlTask1.getCount()}} kartus</p></li>
        <li class="{{completed2}} {{hideControlTask}}"><p >{{controlTask2.getTaskName()}} {{controlTask2.getCount()}} kartus</p></li> 
      </ul>
      
      
    </div>
    <button (click)="play()" class="play-button">Play</button>
    <button (click)="test()" class="play-button">Spell 1</button>
    <button  (click)="player1()" class="play-button">Spell 2</button>
    <button  (click)="player2()" class="play-button">Spell 3</button>
    <button  class="play-button" style="color: red;">Defender 1</button>
    <button  class="play-button" style="color: red;">Defender 2</button>
    <button (click)="getAK47()" class="play-button" style="color: yellow;">Gauti AK47 (-50)</button>
    <button (click)="getUSP()" class="play-button" style="color: yellow;">Gauti USP (-50)</button>
  </div>
</div>
<br>
<div>
  Turimi ginklai
  <ul>
    <li *ngFor="let gun of gunsArray">
      {{gun.name}} priklausantis {{gun.owner.name}}
      oponentas {{gun.oponent.name}}
      <br>
      <button (click)="clone(gun)">Klonuoti -10</button>
      <button *ngIf="gun.name=='USP'" (click)="cloneDeep(gun)">Klonuoti (Deep) -15 <br> </button>
      <br>
      <button (click)="setVersus(gun, 'Jonas')">Jonas</button>
      <button (click)="setVersus(gun, 'Petras')">Petras</button>
      <button (click)="setVersus(gun, 'Ona')">Ona</button>
    </li>
    <br>
  </ul>
</div>
<br>
<div>
  Ginklu shallow klonai <button (click)="shoot()">Shoot -5</button>
  <ul>
    <li *ngFor="let gun of gunsShallowCopiesArray">{{gun.name}}
      oponentas {{gun.oponent.name}} <br> </li>
  </ul>
</div>

<div>
  Ginklu Deep klonai
  <ul>
    <li *ngFor="let gun of gunsDeepCopiesArray">{{gun.name}}
      oponentas {{gun.oponent.name}} <br>
      <button (click)="setVersus(gun, 'Jonas')">Jonas</button>
      <button (click)="setVersus(gun, 'Petras')">Petras</button>
      <button (click)="setVersus(gun, 'Ona')">Ona</button>
      <br><button (click)="shoot(gun)">Shoot</button>
    </li>
  </ul>
</div>
